<div class="subblock">
  <h3>Schedule Properties</h3>
  <% if @content.is_scheduled? %>
      <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.start_time') %></b></small></p>
      <p><%= l Time.parse(@content.schedule_info['start_time']), :format => :twelve_hour_time %></p>
      <p class="uppercase" style="margin-bottom: 0px;"><small><b><%= t('.end_time') %></b></small></p>
      <p><%= l Time.parse(@content.schedule_info['end_time']),:format => :twelve_hour_time %></p>
  <% else %>
    Not Scheduled
  <% end %>
</div>
