<legend><span>Content Scheduling</span></legend>

<div class="row-fluid">
  <div class="span6">
    <div class="clearfix">

      <div class="row">

        <div class="span6">

        </div>


        <div class="span6">

        </div>

      </div>

    </div>
  </div>
</div>