<!DOCTYPE html>
<html>
<head>
  <title>ConcertoContentScheduling</title>
  <%= stylesheet_link_tag    "concerto_content_scheduling/application", media: "all" %>
  <%= javascript_include_tag "concerto_content_scheduling/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
